:root {
	--background-color-primary: rgb(1, 33, 69);
    --background-color-secondary: rgb(0, 85, 183);
	--text-color-secondary: rgb(240,240,240);
    --text-color: rgb(30,30,30);
    --success-color: rgb(46, 204, 113);
    --warning-color: rgb(241, 196, 15);
    --error-color: rgb(231, 76, 60);

    --flex-container-gap: 20px;
}

/* CSS Reset */
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
body { line-height: 1.5; -webkit-font-smoothing: antialiased; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
#root, #__next { isolation: isolate; }

/* Ensure we have a minimum full height of the browser */
html, body {
	height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Logo/Wordmark */
#icon-logo {
	display: flex;
	align-items: center;
	gap: 10px;
}

#icon-logo svg {
	width: 40px;
	height: auto;
}

#icon-logo h1 {
	margin: 0.2rem 0 0 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.7em;
}

/*
 * Onboarding Grid
 */
#onboarding {
	display: grid;
	grid-template-columns: 38% 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row dense;
	grid-template-areas:
		"introduction get-started";
	min-height: 100%;
	flex: 1;
}

#introduction {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 4fr 2fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"icon-logo"
		"onboarding-info"
		"disclaimer";
	grid-area: introduction;
	background-color: var(--background-color-secondary);
	color: var(--text-color-secondary);
	padding: 5rem;
	min-width: 540px;
}

#icon-logo {
	grid-area: icon-logo;
}

#onboarding-info {
	grid-area: onboarding-info;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#disclaimer {
	grid-area: disclaimer;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#get-started {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 8fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"onboarding-progress-bar"
		"onboarding-main-content"
		"onboarding-footer";
	grid-area: get-started;
	padding: 5rem;
	max-width: 75rem;
}

#onboarding-progress-bar {
	grid-area: onboarding-progress-bar;
}

#onboarding-main-content {
	grid-area: onboarding-main-content;
}

#onboarding-footer {
	grid-area: onboarding-footer;
}

/* Onboarding Typography */
#onboarding-info h2 {
	font-size: 3.4rem;
	line-height: 1.1;
	max-width: 85%;
	margin-bottom: 2rem;
}

#onboarding-info p {
	font-size: 1.2rem;
}

#start-onboarding {
	margin-top: 2rem;
}


/* Generic Styles */

.primary-box {
	background-color: var(--background-color-primary);
	color: var(--text-color-secondary);
	padding: 1.2rem;
	border-radius: 5px;
}

/* Typography */
.sidebar-content h3 {
	margin-bottom: 0.8rem;
}

.sidebar-content span:has(svg) {
	display: inline-block;
	position: relative;
	top: 4px;
}

.sidebar-content span svg {
	width: 20px;
	height: auto;
}



.sidebar-content a {
	color: var(--text-color-secondary);
	text-decoration: none;
	border-bottom: 1px dashed var(--text-color-secondary);
}

.sidebar-content a:hover,
.sidebar-content a:focus,
.sidebar-content a:active {
	border-bottom: 1px solid var(--text-color-secondary);
}

.primary-box p {
	font-size: 0.8rem;
}

.main-content h2 {
	font-size: 2rem;
	margin-bottom: 2rem;
}

.main-content p {
	font-size: 1;
	margin-bottom: 1rem;
}


/* Buttons */
button, .btn-primary {
	background-color: var(--background-color-secondary);
	color: var(--text-color-secondary);
	border: none;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	text-transform: uppercase;
	letter-spacing: 1px;
}

button:hover, .btn-primary:hover {
	background-color: var(--background-color-primary);
}
